/*Style by Drahcir-II drahcirii.tumblr.com*/


/* Base Styling */
@font-face{
	font-family: 'Gothic';
	src: url(../fonts/gothic.ttf);
}



@font-face{
	font-family: 'Mirage';	
	src: url(../fonts/mirage.ttf);	
}

@font-face{
	font-family: 'Dampfplatz';	
	src: url(../fonts/dampfplatz.ttf);	
}


@font-face{
	font-family: "pixeltype"; 
	src: url(../fonts/pixeltype.ttf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "gothic";
}





a:link{
	 color: #ff8e8e;
   cursor: url('../pics/cursorl.png'), default;
}

a:hover{
	color:;
}

a:visited{
	color: #ff0000;
}

.btn{
	font-family: "Gothic";
	background-color: #ff0000;
}


#requiem-main {
	background-color: #000000;
	background-image: url("../pics/reqcheck.png");
	background-attachment: fixed;
	background-repeat: repeat-y repeat-x;
	cursor: url('../pics/cursor.png'), default;
	font-family: "Gothic";
	 position: absolute;
       width: 100%;
	
}

#requiem-mobile {
	background-color: #ffffff;
	background-image: url("../pics/reqcheckmb.png");
	background-attachment: fixed;
	background-repeat: repeat-y repeat-x;
	cursor: url('../pics/cursor.png'), default;
	font-family: "Gothic";
 position: absolute;
       
       width: 100%;
	
}

#white{
	color: white;
}

#robottalk{
	 font-family: 'pixeltype';
	 font-size: 1.5em;


}

#title{
	font-family: 'Dampfplatz';
	font-size: 3em;
	
}

#subtitle{
	font-family: 'Mirage';
	font-size: 2em;
}

#sub-section{
	font-family: 'Gothic';
	
}



p{
	color: #ffffff;
	font-family: 'Gothic';
}

li{
	color: #ffffff;
	font-family: 'Gothic';	
}

ol{
	color: #ffffff;
	font-family: 'Gothic';	
}

hr{
	border-color: red;
	 -webkit-box-shadow: 0 3px 9px rgba(255, 0, 0, 0.3);
    box-shadow: 0 3px 3px rgba(255, 0, 0, 0.7);
}

#emphasis{
	color: #ff8e8e;
}

#background{
	background-image: url("../pics/bg.png");
	background-attachment: scroll;
	background-repeat: repeat-y;
	font-family: 'Gothic';
}

#darken{
	background-color: rgba(0,0,0,0.6);
	border-radius: 5px;
	border: solid 1px;
	 color: #333333;
}


footer{
	color: #ffffff;
	font-family: 'Gothic';	
}

#tabbed{
	border-left: solid 5px;
	border-color: darkred;
	
}

.topmessage{
	color: red;
}

.dropdown{
	font-family: 'Gothic';
}
.dropdown-menu{
	font-family: 'Gothic';
	border: solid 1px rgb(62,62,62);

}

.modal-content {
    position: relative;
    background-color: #000000;
    border: 1px solid #ff0000;
    border: 1px solid rgba(255, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(255, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(255, 0, 0, 0.5);
    background-clip: padding-box;
    outline: none;
}


footer{
	color: #ffffff;
	font-family: 'Baskerville';
}

.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}

@media screen and (max-width: 640px) {
    #requiem-main {
        display: none;
    }
}

@media screen and (min-width: 640px) {
    #requiem-mobile {
        display: none;
    }
}

/*Loader Code*/


/* Dropdown Controls 
http://www.derby-web-design-agency.co.uk/blog-post/how-to-create-a-jquery-slidedown-toggle-effect-div-tutorial/22/

*/

 
.dropdownwrap{

    display:none;

}
 
.pagedownwrap{

    display:none;

}

.konamiwrap{

    display:none;

}
