/*Style by Drahcir-II drahcirii.tumblr.com*/
/* Base Styling */
@font-face {
    font-family: 'Gothic';
    src: url(../fonts/gothic.ttf);
}

@font-face {
    font-family: 'Grutch';
    src: url(../fonts/grutchshaded.ttf);
}

@font-face {
    font-family: 'Dampfplatz';
    src: url(../fonts/dampfplatz.ttf);
}

@font-face {
    font-family: "Easta";
    src: url(../fonts/pf_easta_seven.ttf);
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "gothic";
}

a:link {
    color: #ff8e8e;
    cursor: url(../pics/cursorl.png),default;
}

a:-webkit-any-link{
    text-decoration: unset;
}

a:hover {
    color: ;
}

a:visited {
    color: red;
}

.btn {
    font-family: "Gothic";
    background-color: red;
}


.navbar{
    margin-bottom: 0px;
}



.navbar-default {
  background-color: #b7b7b7;
  border-color: #e7e7e7;
}

img.brand{
    width: 75%;
    height: 75%;
}

body{
    width: 100%;
    height: 100%;
}

#requiem-main, #requiem-wrap {
    background-color: #000;
    background-image: url(../pics/grunge.png);
    background-attachment: fixed;
    background-repeat: repeat-x repeat-y;
     background-size: cover;
    
    cursor: url(../pics/cursor.png),default;
    font-family: "Gothic";
    position: absolute;
    width: 100%;
    

}

#requiem-mobile {
    background-color: #fff;
    background-image: url(../pics/grunger.png);
    background-attachment: fixed;
    background-repeat: repeat-y repeat-x;
    cursor: url(../pics/cursor.png),default;
    font-family: "Gothic";
    position: absolute;
    width: 100%;
    height: 100%;
}

#bella {
    background-color: #fff;
    background-image: url(../pics/grungemb.png);
    background-attachment: fixed;
    background-repeat: repeat-y repeat-x;
    background-size: 100% 100%;
    cursor: url(../pics/cursor.png),default;
    font-family: "Gothic";
    width: 100%;
    position: relative;
 
    border-left: 2%; 
    border-bottom: 2%; 
    border-right: 2%;
   
}

#white {
    color: #fff;
}


#robottalk {
    font-family: 'Easta';
    font-size: 0.9em;
}

#title {
    font-family: 'Grutch';
    font-size: 3em;
}

#title-mobile {
    font-family: 'Dampfplatz';
    font-size: 2em;

}

#subtitle {
    font-family: 'Grutch';
    font-size: 2em;
}

#sub-section {
    font-family: 'Gothic';
}

#requiem{
    margin-top: 5%;
}

p {
    color: #fff;
    font-family: 'Gothic';
}

li {
    color: #fff;
    font-family: 'Gothic';
}

ol {
    color: #fff;
    font-family: 'Gothic';
}



#emphasis {
    color: #ff8e8e;
}

#background {
    background-image: url(../pics/bg.png);
    background-attachment: scroll;
    background-repeat: repeat-y;
    font-family: 'Gothic';
}

#darken {
    background-color: rgba(0,0,0,0.6);
    border-radius: 5px;
    border: solid 1px;
    color: #333;
}

#custom-footer{
    position: fixed;
    padding: 4px;
    bottom: 0;
    right: 0;
    width: 25%;
    z-index: 2000;
    visibility: hidden;
    
    
}

#footer-text{
    position: fixed; 
    bottom: 0px; 
    right: 0px; 
    background-color: #222222;
    text-align: right; 
    z-index: 2004; 
    color: #fff;
    display: inline;
    padding:4px;
    border-top-left-radius: 5px;
    border-top:  solid 2px;
    border-left:  solid 2px;
    border-color: #000;
}

footer {
    color: #fff;
    font-family: 'Gothic';
}

#tabbed {
    border-left: solid 5px;
    border-color: #8b0000;
}

.topmessage {
    color: red;
}

.dropdown {
    font-family: 'Gothic';
}

.dropdown-menu {
    font-family: 'Gothic';
    border: solid 1px #3e3e3e;
}

.modal-content {
    position: relative;
    background-color: #000;
    border: 1px solid red;
    border: 1px solid rgba(255,0,0,0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(255,0,0,0.5);
    box-shadow: 0 3px 9px rgba(255,0,0,0.5);
    background-clip: padding-box;
    outline: none;
}

footer {
    color: #fff;
    font-family: 'Baskerville';
}

.modal.modal-wide .modal-dialog {
    width: 90%;
}

.modal-wide .modal-body {
    overflow-y: auto;
}

@media screen and (max-width: 640px) {
    #requiem-main {
        display: none;

    }
    #custom-footer{
        display: none;
    }

    #bella{
        display: none;
    }
}

@media screen and (max-width: 948px) {
    #navmail {
        display: none;

    }

    

}

@media screen and (min-width: 640px) {
    #requiem-mobile {
        display: none;
    }

    #castlemb{
        display: none;
    }
}

.remove{
	display: none;
}



/*Loader Code*/
/* Dropdown Controls 
http://www.derby-web-design-agency.co.uk/blog-post/how-to-create-a-jquery-slidedown-toggle-effect-div-tutorial/22/

*/
.dropdownwrap {
    display: none;
}

.pagedownwrap {
    display: none;
}

.konamiwrap {
    display: none;
}

